/* Scrollbar Styles */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #F2E8E6 #191718 ;
  /* overflow-x: hidden; */
}
/* ::-webkit-scrollbar {
  width: 0px;
} */

html, body {
  overflow: auto;
}