/* Scrollbar Styles */
html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #f0efe6 #141820 ;
  scrollbar-gutter: stable;
  /* overflow-x: hidden; */
}
/* ::-webkit-scrollbar {
  width: 0px;
} */

/* html, body {
  overflow: hidden;
} */

body {
  background-color: black;
}

/* Lenis smooth scroll style */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
   pointer-events: none;
}